@import '../../styles/variable';
@import '../../styles/mixin';

.headerInner {
  position: relative;
  background-image: url('#{$imagePath}/images/bg.jpg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 55% auto;
  height: 360px;
  @include breakpoint('large') {
    background-size: 70% auto;
  }
  @include breakpoint {
    background-size: cover;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0) 45%,
      rgba(255, 255, 255, 1) 75%
    );
    @include breakpoint {
      width: 100%;
      background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 1) 100%
      );
    }
  }
}

.headerLogo {
  position: absolute;
  left: 5%;
  top: 50px;
  display: flex;
  flex-direction: column;
  font-size: $h1-font-size;
  color: $primary-text-color;
  font-weight: bold;

  // 以下は一時的にホバーイベントを消してます
  pointer-events: none;
  &:hover {
    opacity: 1;
  }
  // 以上は一時的にホバーイベントを消してます

  span {
    font-size: $font-size-base;
    padding-bottom: 0.5rem;
  }
}

.headerNav {
  background-color: $primary-color;
  @include breakpoint {
    display: none;
  }
  ul {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    li {
      text-align: center;
      padding: 0 1rem;
      a {
        color: $white;
        font-size: $font-size-large;
      }
    }
  }
}
