@import 'variable';

/* グローバルスタイル */
body {
  font-family: $base-font-family;
  font-size: $font-size-base;
  color: $black;
  background-color: $primary-bg-color;
}

h1 {
  font-size: $h1-font-size;
}
h2 {
  font-size: $h2-font-size;
}
h3 {
  font-size: $h3-font-size;
}
h4 {
  font-size: $h4-font-size;
}
h5 {
  font-size: $h5-font-size;
}
h6 {
  font-size: $h6-font-size;
}
p {
  font-size: $font-size-base;
  line-height: 1.25;
}

/* リンクスタイル */
a {
  text-decoration: none;
  transition: 0.2s;
  &:hover {
    opacity: 0.7;
  }
}
